/* global */

.container{
  margin-left: 300px;
}

.separator{
  width: 90%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: auto;
}


/* NavBar */

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #dedede!important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-title-container{
  padding: 20px 20px 0px 20px;
}

.navbar-logo{
  max-width: 100px;
  padding-left: 50px;
}

.navbar-item-container{
  margin-top: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
}

.navbar-item-icon{
  margin-right: 5px;
  cursor: pointer;
}
.navbar-item-icon p{
  color: black;
}
.navabar-item-title p{
  color: black;
}

